<div class="container">
  <h4 class="text-center">Modifier le mot de passe</h4>
  <p></p>
  <div class="form" >
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="row no-gutters mt-5 justify-content-around">
        <div class="form form-group col-md-5">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control"%>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
           <div>En attente de confirmation pour: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="form form-group col-md-5">
          <%= f.label :current_password, "Mot de passe actuel" %><br/>
          <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control" %>
        </div>
      </div>

      <div class="row no-gutters justify-content-around">
        <div class="form form-group col-md-5">
          <%= f.label :password, "Nouveau mot de passe" %> <i>(Si nouveau mot de passe souhaité)</i><br />
          <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> caractères minimum</em>
          <% end %>
        </div>

        <div class="form form-group col-md-5">
          <%= f.label :password_confirmation, "Confirmation de mot de passe" %><br/>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
        </div>

      </div>

      <div class="mb-5 mt-5 text-center form-group">
        <%= f.submit "Enregistrer les modifications", class:"btn btn-primary btn-lg" %>
      </div>
    <% end %>
  </div>
</div>

<div class="container text-center">
<p><%= link_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Etes-vous sûr? Cette action est irréversible." }, method: :delete %></p>
  <div class="mb-5">
  <%= link_to "Revenir au profil", :back %>
  </div>

</div>
