<div class="container-fluid bg-light py-5" id="profile_box">
  <div class="row justify-content-center no-gutters">
    <div class="card border border-primary m-5 p-5 col-lg-5">
      <h2 class="mb-4 text-center">Inscription</h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="form-group mb-4">
            <p>Vous êtes : </p>
            <%= f.radio_button :org_type, "association", id: "radio_association"%>
            Une association qui propose un projet de partenariat<br>
            <%= f.radio_button :org_type, "entreprise", id: "entreprise_association"%>
            Une entreprise qui cherche un projet de partenariat
          </div>


          <div class="form-group mb-4">
            <label for="org_name">Le nom de votre organisme :</label><br>
            <%= f.text_field :org_name, autofocus: true, class: 'form-control bg-light', id:"registrer_org_name" %>
          </div>

          <div class="form-group mb-4">
            <label for="role">Votre rôle ou poste :</label><br>
            <%= f.text_field :role, autofocus: true, class: 'form-control bg-light', id:"registrer_role" %>
          </div>

          <div class="form-group mb-4">
            <label for="role">Votre prénom :</label><br>
            <%= f.text_field :first_name, autofocus: true, class: 'form-control bg-light', id:"registrer_fname" %>
          </div>

          <div class="form-group mb-4">
            <label for="role">Votre nom de famille :</label><br>
            <%= f.text_field :last_name, autofocus: true, class: 'form-control bg-light', id:"registrer_lname" %>
          </div>

          <div class="form-group mb-4">
            <label for="role">Votre adresse email :</label><br>
            <%= f.email_field :email, autofocus: true, class: 'form-control bg-light', autocomplete: "email", id:"registrer_email" %>
          </div>

          <div class="form-group mb-4">
            <label for="new－password">Mot de passe :
              <% if @minimum_password_length %> <small class="form-text text-muted"><%= @minimum_password_length %> caractères minimum</small>
              <% end %>
            </label>
            <%= f.password_field :password, autocomplete: "new-password", class: 'form-control bg-light', id:"registrer_pw" %>
          </div>

          <div class="form-group mb-4">
            <label for="role">Confirmez votre mot de passe :</label><br>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control bg-light', id:"registrer_confirm_pw" %>
          </div>

          <div class="actions text-center mt-3">
            <%= f.submit "Je m'inscris", class: "btn btn-primary mb-2", id:"registrer_submit" %> <br>
            <small><%= render "devise/shared/links" %></small>
          </div>

        <% end %>

    </div>
  </div>
</div>
