Bonjour et bienvenue sur Lucky Link !

Vous venez de vous inscrire sur Lucky Link avec l'e-mail suivant :
<%= @user.email %>.

Pour compléter votre profil et profiter pleinement de Lucky Link,
connectez-vous via : <%= @url %>.

À très vite !

L'équipe des LuckyLink-maker
