<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour et bienvenue chez LuckyLink !</h1><br>
    <p>
      Vous venez de vous inscrire sur Lucky Link avec l'e-mail suivant :<br>
      <%= @user.email %>.
    </p>
    <p>
      Pour compléter votre profil et profiter pleinement de Lucky Link, connectez-vous via : <%= @url %>.
    </p>
    <p> À très vite !

    <p>L'équipe des LuckyLink-maker</p>

  </body>
</html>
