  <%= form_tag url_for(action: 'create'), method: 'POST', class:"form-container" do %>
<div class="row no-gutters">
  <div class="form-col">
    <div class="row no-gutters">
    <h2 class="new-luli-title mb-4">Votre demande</h2>
    <div class="form-group col-md-10">
        <%= label_tag 'name', 'Nom du luli pour lequel vous demandez une mise en relation :'%>
        <%= text_field_tag 'name', @luli.name, readonly: true, class: "form-control" %>
    </div>
    <div class="form-group col-md-10">
        <%= label_tag 'luli_association_name', "Proposé par l'association :"%>
        <%= text_field_tag 'luli_association_name', @luli.broker.org_name, readonly: true, class: "form-control" %>
    </div>
    <div class="form-group col-md-12">
      <%= label_tag 'motivation', 'En quoi ce Luli vous intéresse-t-il ?*'%>
      <%= text_area_tag 'motivation', "Entre 5 et 5000 caractères", class: "form-control" %>
    </div>
    <div class="form-group col-md-12">
      <%= label_tag 'argument', 'Que pouvez-vous apporter à ce projet ?*'%>
      <%= text_area_tag 'argument', "Entre 5 et 5000 caractères", class: "form-control"%>
    </div>
    <div class="form-group col-md-12">
      <%= label_tag 'comment', 'Vos remarques'%>
      <%= text_area_tag 'comment', "Entre 1 et 5000 caractères", class: "form-control"%>
    </div>
  </div>
</div>

  <div class="form-row">
      <h2 class="mb-4">Contact</h2>
      <div class="fields-contact form-group col-md-10">
        <%= label_tag 'org_name', 'Nom de votre entreprise*'%>
        <%= text_field_tag 'org_name', @bid.bidder.org_name, readonly: true, class: "form-control" %>
      </div>
      <div class="form-group col-md-6">
        <%= label_tag 'contact_name', 'Personne à contacter*'%>
        <%= text_field_tag 'contact_name', @bid.bidder.name, class: "form-control", placeholder: 'Entre 1 et 100 caractères' %>
      </div>
      <div class="form-group col-md-6">
        <%= label_tag 'contact_role', 'Rôle*'%>
        <%= text_field_tag 'contact_role', @bid.bidder.role, class: "form-control", placeholder: 'Entre 1 et 100 caractères' %>
      </div>
      <div class="form-group col-md-6">
        <%= label_tag 'contact_number', 'Uniquement les chiffres sans indicadif ni séparateur. Ex: 0607070750'%>
        <%= text_field_tag 'contact_number', @bid.contact_number, class: "form-control", placeholder: '10 chiffres' %>
      </div>
      <div class="form-group col-md-6">
        <%= label_tag 'contact_email', 'Email*'%>
        <%= text_field_tag 'contact_email', @bid.bidder.email, class: "form-control", placeholder: 'exemple@email.com' %>
      </div>
      <p class="font-italic mt-5 ml-3">(*)Champs obligatoires.</p>
  </div>


  <div class="luli-btn">
    <%= button_to "Envoyer", luli_bids_path(@luli.id, @bid.id), method: :post, class: "btn btn-primary" %>
  </div>

<% end %>
</div>
