<% bid_list.each do |bid| %>
<div class="container mb-5 mt-5">
<div class=" row mb-2 no-gutters">
    <div class="col-md-12">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-white">
        <div class="col p-4 d-flex flex-column position-static border-right border-info ml-3">
          <h3 class="mb-0 resizing-title"><%=bid.luli.name%></h3><br>
          <div class="mb-1 text-muted">
            <p>Emise par <%= bid.bidder.first_name%> de l'entreprise <%= bid.bidder.org_name%></strong></p>
            <p>Publié le: <%= bid.created_at.to_date%></p>
           
          </div>
          <%= link_to "Voir la demande", luli_bid_path(bid.luli, bid), class:"mr-2"%>
        </div>
        <div class="col-md-6 d-none d-lg-block">
            <% if bid.luli.cover_photo.attached?%> <%= image_tag bid.luli.cover_photo, style:'object-fit: cover; height: 280px; width: 100%; display: block;' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>