<div class="container text-secondary">
  <h2 class="mt-5">Demande de mise en relation pour le luli <br>"<%= link_to @luli.name, luli_path(@luli)%>"</h2>
  <div class="bid-show">
    <% if @bid.status == "pending"%>
<p><u>Statut de la demande</u>:<i> En attente.</i></p>
<% elsif @bid.status == "accepted"%>
<p><u>Statut de la demande</u>:<i>< Félicitations, votre demande a été acceptée !</i></p>
<% else %>
<p>L'association n'a pas souhaité donner suite à votre demande.</p>
<% end %>

<div>
  <p>Cette demande a été émise par <strong><%= @bid.bidder.first_name %> <%= @bid.bidder.last_name %></strong>, représentant l'entreprise <strong><%= @bid.bidder.org_name%>.</strong><p>
  <p><u>Motivations de l'entreprise</u>:</p>
  <p><i><%= @bid.motivation %></i><p>
  <p><u>Ce que l'entreprise propose d'apporter au projet de partenariat</u>:</p>
  <p><i><%= @bid.argument%></i></p>
</div>
<br>
<div>
  <h4>Contactez le représentant de l'entreprise:</h4><br>
  <p>Nom: <%= @bid.contact_name %><p>
  <p>Rôle au sein de l'entreprise: <%= @bid.contact_role %><p>
  <p>Email: <%= @bid.contact_email %><p>
  <p>Numéro de téléphone: <%= @bid.contact_number %><p><br>
</div>

<% if @luli.active && @user == @luli.broker%>
  <div>
    <h4>Votre avis :</h4>
    <p>Attention. Notez que votre choix sera définitif.
      N'hesitez pas a en parler avec la personne de contact
      ou avec <%= link_to 'nous', new_contact_path%>.</p>

      <%= form_tag url_for(action: 'update'), method: 'PUT' do %>
      <%= radio_button :bids, :status, "refused"%>
      Refuser cette proposition<br>
      <%= radio_button :bids, :status, "accepted"%>
      Faire de l'entreprise votre partenaire dans ce projet
      <br><%= button_to "Voici ma décision", luli_bid_path(@luli,@bid), method: :put, class: "btn btn-success m-2" %>
      <% end %>
  </div>
<% end %>
 </div>
 <br>
<div class="bid-return-button">

  <%= link_to "Retour au luli", luli_path(@bid.luli.id), class:"btn btn-primary mr-2"%>
</div>
</div>
