Bonjour <%= @bid.bidder.first_name %>,
Vous venez de demander d'être mise en relation pour le projet "<%= @luli.name %>", de <%= @luli.broker.org_name%>.
Voici les details de votre demande:

Nom de l'entreprise que vous représentez: <%= @bid.bidder.org_name %>
Les raisons de votre intérêt:
  <%= @bid.motivation%>
Ce que vous proposez au projet:
  <%= @bid.argument%>
Autre(s) précision(s):
  <%= @bid.comment%>


Pour rappel, voici les détails de contact que vous avez laissé:

  <%= @bid.contact_name%>
  <%= @bid.contact_role%>
  <%= @bid.bidder.org_name%>
  <%= @bid.contact_number%>
  <%= @bid.contact_email%>

L'association porteur de projet étudiera avec soin votre proposition. Vous receverez un notification quand votre demande aura évolué.
Si toutes fois, à l'issu de 4 semaines, vous n'avez toujours pas de retour, n'hésitez pas à nous laisser un message par la rubrique "Contactez-nous" en pécisant le lien du projet qui vous intéresse.

A très vite !
L'équipe des LuckyLink-maker
