<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Bonjour <%= @bid.bidder.first_name %>,<br>
      Vous venez de demander d'être mise en relation pour le projet "<%= @luli.name %>".<br>
      Voici les details de votre demande:
    </p>
    <p>
      Nom de l'entreprise que vous représentez: <%= @bid.bidder.org_name %>
    </p>
    <p>Les raisons de votre intérêt:<br>
      <%= @bid.motivation%></p>
    <p>Ce que vous proposez au projet:<br>
      <%= @bid.argument%></p>
    <p>Autre(s) précision(s):<br>
      <%= @bid.comment%>
    </p>

    <p>Pour rappel, voici les détails de contact que vous avez laissé:</p>
    <p>
      <%= @bid.contact_name%><br>
      <%= @bid.contact_role%><br>
      <%= @bid.bidder.org_name%><br>
      <%= @bid.contact_number%><br>
      <%= @bid.contact_email%>
    </p>

    <p>
      L'association porteur de projet étudiera avec soin votre proposition. Vous receverez un notification quand votre demande aura évolué. <br>
      Si toutes fois, à l'issu de 4 semaines, vous n'avez toujours pas de retour, n'hésitez pas à nous laisser un message par la rubrique "Contactez-nous" en pécisant le lien du projet qui vous intéresse.
    </p>
    <p>A très vite !</p>
    <p>L'équipe des LuckyLink-maker</p>

  </body>
</html>
