Bonjour <%= @luli.broker.first_name %>,

Une entreprise s'intéresse à vôtre Luli "<%= @luli.name %>".
Voici les détails de sa demande de mise en relation:

Nom de l'entreprise interessée: <%= @bid.bidder.org_name %>
Les raisons de son intérêt:
<%= @bid.motivation%>
Ce que l'entreprise vous propose:
<%= @bid.argument%>
Autre(s) précision(s):
<%= @bid.comment%>

Si cette demande vous intéresse, voici la personne à contacter:
  <%= @bid.contact_name%>
  <%= @bid.contact_role%>
  <%= @bid.bidder.org_name%>
  <%= @bid.contact_number%>
  <%= @bid.contact_email%>

N'hesitez pas consulter cette offre sur votre profil LuckyLink !
Si cette proposition ne vous intéresse pas, pensez a préciser la raison de votre refus à l'entreprise par email.
Avant de valider une offre, prenez bien en considération toutes les options qui s'offrent à vous !

A très vite !

L'équipe des LuckyLink-maker
