<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Bonjour <%= @luli.broker.first_name %>,<br>
      Une entreprise s'intéresse à votre Luli "<%= @luli.name %>".<br>
      Voici les details de sa demande de mise en relation:
    </p>
    <p>
      Nom de l'entreprise interessée: <%= @bid.bidder.org_name %>
    </p>
    <p>Les raisons de son intérêt:<br>
      <%= @bid.motivation%></p>
    <p>Ce que l'entreprise peut vous proposer:<br>
      <%= @bid.argument%></p>
    <p>Autre(s) précision(s):<br>
      <%= @bid.comment%>
    </p>

    <p>Si cette demande vous intéresse, voici la personne à contacter:</p>
    <p>
      <%= @bid.contact_name%><br>
      <%= @bid.contact_role%><br>
      <%= @bid.bidder.org_name%><br>
      <%= @bid.contact_number%><br>
      <%= @bid.contact_email%>
    </p>

    <p>
      N'hesitez pas consulter cette offre sur votre profil LuckyLink !<br>
      Si cette proposition ne vous intéresse pas, pensez a préciser la raison de votre refus à l'entreprise par email.<br>
      Avant de valider une offre, prenez bien en considération toutes les options qui s'offrent à vous !
    </p>
    <p>A très vite !</p>
    <p>L'équipe des LuckyLink-maker</p>

  </body>
</html>
