<div class="container">
  <h4 class="text-center">Mettre à jour mon profil</h4>
  <div class="form" >
    <%= form_tag user_path(@user.id),multipart: true, method: :put do %>
      <div class="row no-gutters mt-5 justify-content-around">
        <div class="form form-group col-md-5">
           <label for="first_name">Votre prénom:</label>
            <input type="text" class="form-control" name="first_name"
              value="<%= @user.first_name%>" />
        </div>

        <div class="form form-group col-md-5">
           <label for="last_name">Votre nom de famille:</label>
             <input type="text" class="form-control"  name="last_name"
               value="<%= @user.last_name%>"/>
        </div>
      </div>

      <div class="row no-gutters mt-5 justify-content-around">
        
        <div class="form form-group col-md-5">
         <label for="last_name">Le nom de l'<%= @user.org_type%> pour laquelle vous travaillez:</label>
         <input type="text" class="form-control"  name="org_name"
             value="<%= @user.org_name%>"/>
          </div>

        <div class="form form-group col-md-5">
         <label for="last_name">L'intitulé de votre poste':</label>
           <input type="text" class="form-control"  name="role"
             value="<%= @user.role%>"/>
         </div>
      </div>


      <div class="text-center mt-5 mb-5 form-group">
           <button type="submit" class="btn btn-primary btn-lg">Mettre à jour</button>
      </div>
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <% end %>
  </div>  
</div>