	<div class="container-fluid bg-light">
		<div class="container pt-5">
	      <h1 class="text-primary text-left"><%= @user.first_name %> <%= @user.last_name %></h1>
				<div class="profile row d-flex">

					<div class="col-md-6">
					  <%= link_to "Editer mes infos", edit_user_path(current_user), class:"btn btn-outline-secondary mr-3 mt-5 mb-0 ml-4", role:"button" %>
					  <%= link_to "Editer mon mot de passe", edit_user_registration_path(current_user), class:"btn btn-outline-secondary mt-5"%>
	  			</div>
					<div class="col-md-6 text-right text-secondary mb-5 ">
						<p><strong>Email:</strong> <%= @user.email %></p>
						<p><strong>Nom de votre organisme:</strong> <%= @user.org_name%></p>
						<p><strong>Poste actuel:</strong> <%= @user.role %></p>
					</div>

				</div>
				</div>
	</div>
<div class="container"  id="profile_box">


      <% if @user.is_association%>
			  <% if @user.lulis_published.length == 0%>
				  <div class="container">
				  	<h3 class="text-center text-secondary mt-5 mb-5">Vous n'avez pas encore proposé de Luli ! Commencez dès maintenant</h3>
				  	<div class="row justify-content-center mt-5">
							<%= link_to "Proposez votre Luli", new_luli_path, class:"btn btn-block btn-lg btn-warning w-25"%>
				  	</div>
				  </div>
			  <% else%>
				  <%= render "lulis/list", :luli_list => @user.lulis_published.where(admin_validate: false) %>
					<%= render "lulis/list", :luli_list => @user.lulis_published.where(active: true) %>
					<%= render "lulis/list", :luli_list => @user.lulis_published.where(admin_validate: true, active: false) %>
			  <% end%>
			<% elsif @user.is_entreprise%>
			  <% if @user.bids_offered.length == 0%>
				  <div class="container">
				  	<h3 class="text-center text-secondary mt-5 mb-5">Vous n'avez pas encore demandé de mise en relation ! Commencez dès maintenant</h3>
				  	<div class="row justify-content-center mt-5">
					    <%= link_to "Trouvez votre Luli", lulis_path, class:"btn btn-block btn-lg btn-info w-25"%>
						</div>
			  	</div>
			  <% else%>
				  <%= render "bids/list", :bid_list => @user.bids_offered.where(status: 'pending') %>
					<%= render "bids/list", :bid_list => @user.bids_offered.where(status: 'accepted')  %>
			  <% end%>
			<% elsif @user.admin%>
				<div class="container">
					<h3 class="text-center text-secondary mt-5 mb-5">Voici les nouveaux Lulis en attente de validation</h3>
				</div>
				<%= render "lulis/list", :luli_list => Luli.where(admin_validate: false) %>
			<% end %>
</div>
