<div class="container-fluid bg-light py-5" id="profile_box">
  <div class="row justify-content-center no-gutters">
    <div class="card border border-primary m-5 p-5 col-lg-4">

      <h2 class="mb-4 text-center">Réinitialisez votre mot de passe</h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.hidden_field :reset_password_token %>

          <div class="form-group mb-4">
            <%= f.label :password, "Nouveau mot de passe" %><br />
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> caractères minimum)</em><br />
            <% end %>
            <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'form-control bg-light' %>
          </div>

          <div class="form-group mb-4">
            <%= f.label :password_confirmation, "Confirmez votre mot de passe" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control bg-light' %>
          </div>

          <div class="actions text-center mt-3">
            <%= f.submit "Changer mon mot de passe", class: "btn btn-primary mb-2" %> <br>
            <small><%= render "devise/shared/links" %></small>
          </div>

          </div>

        <% end %>

    </div>
  </div>
</div>
