<div class="container-fluid bg-light py-5" id="profile_box">
  <div class="row justify-content-center no-gutters">
    <div class="card border border-primary m-5 p-5 col-lg-4">

      <h2 class="mb-4 text-center">Mot de passe oublié</h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

          <div class="form-group mb-4">
            <%= f.label :"Email d'inscription" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control bg-light' %>
          </div>

          <div class="actions text-center mt-3">
            <%= f.submit "Recevoir un email", class: "btn btn-primary mb-2" %> <br>
            <small><%= render "devise/shared/links" %></small>
          </div>

          </div>

        <% end %>

    </div>
  </div>
</div>
