<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Bonjour,</p>
    <p>Les modifications apportées au luli "<%= @luli.name%>" ont bien été prises en compte.</p>
    <p>Voici son détail après modifications:</p>

    <div>
      <p>Statut:</p>
      <% if @luli.admin_validate%>
        Validé
      <% else %>
        En attente de validation par un de nos administrateurs
      <% end %>

      <% if @luli.active%>
        En recherche de partenariat
      <% else %>
        Archivé
      <% end %>
    </div>

    <div>
      <p>Référence du Luli: <%= @luli.id %><p>
      <p>Proposé par: <%= @luli.broker.org_name %></p>
      <p>Nom du projet: <%= @luli.name %></p>
      <p>Pathologie ciblée: <%= @luli.pathology%></p>
      <p>Partenariat recherché: <%= @luli.partnership%></p>
    </div>

    <div>
      <p> A propos de l'association: <%= @luli.association_description %></p>
      <p> Description du projet: <%= @luli.description %></p>
      <p> Description du besoin: <%= @luli.request %></p>
      <p> Autre(s) précision(s): <%= @luli.comment %></p>
    </div>

    <div>
      <p>Personne à contacter: </p>
      <p><%= @luli.contact_name%></p>
      <p><%= @luli.contact_number%></p>
      <p><%= @luli.contact_email%></p>
    <div>

  </body>
</html>
