Bonjour,

Les modifications apportées au luli "<%= @luli.name%>" ont bien été prises en compte.
Voici son détail après modifications:


Statut:
<% if @luli.admin_validate%>
Validé
<% else %>
En attente de validation par un de nos administrateurs
<% end %>
<% if @luli.active%>
En recherche de partenariat
<% else %>
Archivé
<% end %>



Référence du Luli: <%= @luli.id %>
Proposé par: <%= @luli.broker.org_name %>
Nom du projet: <%= @luli.name %>
Pathologie ciblée: <%= @luli.pathology%>
Partenariat recherché: <%= @luli.partnership%>


A propos de l'association: <%= @luli.association_description %>
Description du projet: <%= @luli.description %>
Description du besoin: <%= @luli.request %>
Autre(s) précision(s): <%= @luli.comment %>



Personne à contacter:
<%= @luli.contact_name%>
<%= @luli.contact_number%>
<%= @luli.contact_email%>
