<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Bonjour <%= @luli.broker.first_name%>,</p>
    <p>Vous venez de publier un nouveau Luli "<%= @luli.name%>" sur notre site.</p>
    <p>Voici son détail :</p>

    <div>
      <p>Statut:
      <% if @luli.admin_validate%>
      Validé
      <% else %>
        En attente de validation par un de nos administrateurs
      <% end %><br />

      <% if @luli.active%>
        En recherche de partenariat
      <% else %>
        Archivé
      <% end %></p>
    </div>

    <div>
      <p>Référence du Luli: <%= @luli.id %><p>
      <p>Proposé par: <%= @luli.broker.org_name %></p>
      <p>Nom du projet: <%= @luli.name %></p>
      <p>Pathologie ciblée: <%= @luli.pathology%></p>
      <p>Partenariat recherché: <%= @luli.partnership%></p>
    </div>

    <div>
      <p> A propos de l'association: <%= @luli.association_description %></p>
      <p> Description du projet: <%= @luli.description %></p>
      <p> Description du besoin: <%= @luli.request %></p>
      <p> Autre(s) précision(s): <%= @luli.comment %></p>
    </div>

    <div>
      <p>Personne à contacter: </p>
      <p><%= @luli.contact_name%></p>
      <p><%= @luli.contact_number%></p>
      <p><%= @luli.contact_email%></p>
    <div>

    <p>Equipe LuckyLink</p>
  </body>
</html>
