<div class="container-fluid bg-light py-5" id="profile_box">
  <div class="row justify-content-center no-gutters">
  <div class="card border border-primary m-5 p-5 col-lg-7">
    <h2 class="mb-4 text-center">Contactez-nous</h2>
    <p class="text-center mb-5 mt-3">Un projet de partenariat vous intéresse ? Envie de mettre en place un Luli ? Contactez-nous et Lucky Link fera le lien.<br>
    Selon vos besoins, nous pourrons répondre à un besoin d'accompagnement ponctuel ou à longue durée afin de faire de ce projet un partenariat gagnant-gagnant.</p>
    <%= form_tag contacts_path, method: :post do %>
    <div class="row no-gutters justify-content-between">
      <% if current_user %>
        <div class="col-xs-12 col-sm-12 col-md-5">
          <input name="user_id" type="hidden" value="<%= current_user.id%>">
          <div class="form-group">
            <label for="first_name">Votre nom</label>
            <input type="text" class="form-control" name="name"
              value="<%= current_user.first_name%> <%= current_user.last_name%>" readonly/>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-5">
          <div class="form-group">
            <label for="email">Votre email</label>
            <input type="text" class="form-control"  name="email"
              value="<%= current_user.email%>" readonly/>
          </div>
        </div>
      <% else %>
      <div class="col-xs-12 col-sm-12 col-md-5">
        <div class="form-group">
          <label for="first_name">Votre nom*</label>
          <input type="text" class="form-control" name="name" id="contact_tourist_name"/>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-5">
        <div class="form-group">
          <label for="email">Votre email*</label>
          <input type="text" class="form-control"  name="email" id="contact_tourist_email"/>
        </div>
      </div>
      <% end%>
    </div>

      <div class="form-group">
        <label for="subject">Objet*</label>
        <input type="text" class="form-control bg-light" name="subject" id="contact_subject"/>
      </div>

      <div class="form-group">
        <label for="message">Votre message*</label>
        <textarea class="form-control bg-light" rows="3" name="message" id="contact_message"></textarea>
      </div>
      <p class="font-italic mt-5 ml-3">(*)Champs obligatoires.</p>
      <div class="form-group text-center">
        <button type="submit" class="btn btn-primary mt-3" id="contact_contact">Envoyer</button>
      </div>
    <% end %>
  </div>
  </div>
</div>
