<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Bonjour,</p>
    <p>Le Luli <%= @luli.id%>: <%= @luli.name%> vient d'etre modifié</p>
    <p>Voici son détail après modification:</p>

    <div>
      <p>Statut:</p>
      <% if @luli.admin_validate%>
        <p>Validé</p>
      <% else %>
        <p>En attente de validation par un administrateur</p>
      <% end %>
      <% if @luli.active%>
        <p>En recherche de partenariat</p>
      <% else %>
        <p>Archivé</p>
      <% end %>
    </div>

    <div>
      <p>Référence du Luli: <%= @luli.id %><p>
      <p>Proposé par l'association: <%= @luli.broker.org_name %></p>
      <p>Nom du projet: <%= @luli.name %></p>
      <p>Pathologie visée: <%= @luli.pathology%></p>
      <p>Partenariat recherché: <%= @luli.partnership%></p>
    </div>

    <div>
      <p> Description du projet: <%= @luli.description %></p>
      <p> Description du besoin: <%= @luli.request %></p>
      <p> Autre(s) précision(s): <%= @luli.comment %></p>
      <p> A propos de l'association: <%= @luli.association_description %></p>
    </div>

    <div>
      <p>Personne à contacter: </p>
      <p><%= @luli.contact_name%></p>
      <p><%= @luli.contact_number%></p>
      <p><%= @luli.contact_email%></p>
    <div>

    <p>Pour valider ou modifier le luli, RDV sur votre profil administrateur !</p>

  </body>
</html>
