Bonjour,
Le Luli <%= @luli.id%>: <%= @luli.name%> vient d'etre modifié
Voici son détail après modification:


Statut:
<% if @luli.admin_validate%>
Validé
<% else %>
En attente de validation par un administrateur
<% end %>
<% if @luli.active %>
En recherche de partenariat
<% else %>
Archivé
<% end %>



Référence du Luli: <%= @luli.id %>
Proposé par l'association: <%= @luli.broker.org_name %>
Nom du projet: <%= @luli.name %>
Pathologie ciblée: <%= @luli.pathology%>
Partenariat recherché: <%= @luli.partnership%>



Description du projet: <%= @luli.description %>
Description du besoin: <%= @luli.request %>
Autre(s) précision(s): <%= @luli.comment %>
A propos de l'association: <%= @luli.association_description %>



Personne à contacter:
<%= @luli.contact_name%>
<%= @luli.contact_number%>
<%= @luli.contact_email%>


Pour valider ou modifier le luli, RDV sur votre profil administrateur !
