Bonjour,

Une personne vient de vous envoyer un message depuis le site.
<% if @user %>
Il s'agit d'un utilisateur connecté:
Utilisateur <%= @user.id%>
<%= @user.first_name%> <%= @user.last_name%>
<%= @user.role %> de l'<%= @user.org_type%> <%= @user.org_name%>
Son adresse mail: <%= @user.email%>
<% else %>
Il s'agit d'un utilisateur non-connecté.
<% end %>
Voici le détail de ce message

Contact: <%= @contact.name %>
<%= @contact.email %>
Objet: <%= @contact.subject %>
Message: <%= @contact.message %>

N'hesitez pas à lui répondre par email.
