<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Bonjour,<br>
      Une personne vient de demander un message depuis le site.<br>
      <% if @user %>
        Il s'agit d'un utilisateur connecté:<br>
        Utilisateur <%= @user.id%><br>
         <%= @user.first_name%> <%= @user.last_name%><br>
         <%= @user.role %> de l'<%= @user.org_type%> <%= @user.org_name%><br>
         son adresse mail: <%= @user.email%><br>
      <% else %>
        Il s'agit d'un utilisateur non-connecté.<br>
      <% end %>
    </p>
    <p>
      Voici le detail de ce message
    </p>

    <p> Contact: <%= @contact.name %><br>
    <p> <%= @contact.email %><br>
    <p> Objet: <%= @contact.subject %><br>
    <p> Message: <%= @contact.message %></p>

    <p>N'hesitez pas à lui répondre par email.</p>

  </body>
</html>
