<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Bonjour,<br>
      Un nouveau Luli a été posté sur le site. Il attend ta validation.<br>
      Voici de détail de ce Luli:
    </p>
    <p>
      Référence du Luli: <%= @luli.id %><br>
      Proposé par l'association: <%= @luli.broker.org_name %><br>
      Nom du projet: <%= @luli.name %><br>
      Pathologie ciblée: <%= @luli.pathology%><br>
      Partenariat recherché: <%= @luli.partnership%>
    </p>

    <p> Description du projet: <%= @luli.description %></p>
    <p> Description du besoin: <%= @luli.request %></p>
    <p> Autre(s) précision(s): <%= @luli.comment %></p>
    <p> A propos de l'association: <%= @luli.association_description %></p>

    <p> Personne à contacter: <br>
      <%= @luli.contact_name%><br>
      <%= @luli.contact_number%><br>
      <%= @luli.contact_email%>
    </p>

    <p>Pour valider ou modifier le luli, RDV sur votre profil administrateur !</p>

  </body>
</html>
