Bonjour
Une personne vient de s'inscrire sur le site.

Il s'agit de :
  Utilisateur <%= @user.id%><br>
  <%= @user.first_name%> <%= @user.last_name%>
  <%= @user.role %> de l'<%= @user.org_type%> <%= @user.org_name%>
  son adresse mail: <%= @user.email%>.
