<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Bonjour,<br>
      Une personne vient de s'inscrire sur le site.<br>
        Il s'agit de :<br>
        Utilisateur <%= @user.id%><br>
         <%= @user.first_name%> <%= @user.last_name%><br>
         <%= @user.role %> de l'<%= @user.org_type%> <%= @user.org_name%><br>
         Son adresse mail: <%= @user.email%><br>
    </p>

  </body>
</html>
