Bonjour, <%= @contact.name%>

Vous venez de nous écrire et nous vous en remercions.
Voici le détail de ce message:
Contact: <%= @contact.name %>
<%= @contact.email %>
Objet: <%= @contact.subject %>
Message: <%= @contact.message %>

Nous nous efforçons de vous répondre dans les plus brefs delais.

A très vite !

L'équipe LuckyLink-maker
