<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Bonjour, <%= @contact.name%> <br>
      Vous venez de nous écrire et nous vous en remercions<br>
      Voici le détail de ce message:</p>
    <p> Contact: <%= @contact.name %><br>
    <p> <%= @contact.email %><br>
    <p> Objet: <%= @contact.subject %><br>
    <p> Message: <%= @contact.message %></p>

    <p>Nous nous efforçons de vous rpondre dans les plus brefs délais.</p>

    <p>A très vite !</p><br>
    <p>L'équipe LuckyLink-Maker</p>
  </body>
</html>
