<div class="container-fluid mt-0" id="profile_box">
	<div class="container-fluid pb-0 pt-5">
  <%= render "lulis/intro"%>
  <div class="onlybutton m-0 p-5 text-center" style="background-image: url(<%= asset_path('together.jpg') %>); background-position:center;">
    <%= link_to 'Connectez-vous et proposez votre Luli', new_user_session_path, class: "btn btn-lg btn-warning m-5", id:"connexion_asso_invit" %>
  </div>
</div>
</div>
