  <!-- Masthead -->
  <header class="masthead text-white text-center" style="background-image: url(<%= asset_path('bg-masthead.jpg') %>);">
    <div class="overlay"></div>

    <div class="container">
      <div class="row justify-content-center">
        <h1 class="text-white" style="background-color:#00aa9f;">Entreprise, Association</h1>
      </div>
      <div class="row justify-content-center">
        <h1 class="text-white" style="background-color:#00aa9f;">Proposez/Trouvez</h1>
      </div>

      <div class="row">
        <div class="col-xl-9 mx-auto">
            <h1 class="js-animation mb-5 mx-5">
                <span
                   class="txt-rotate text-white"  style="background-color:#00aa9f;"
                   data-period="2000"
                   data-rotate='[ "Un projet", "Un partenariat", "Un Luli" ]'></span>
              </h1>
              <h4><strong>Unissez vos forces</strong> face aux grands défis de la santé !</h4>
            <div class="row" style="justify-content:center;">
              <div class="col m-2">
                <%= link_to "Association, proposez votre Luli", new_luli_path, class:"btn btn-block btn-lg btn-warning", id: "association_home_top"%>
              </div>
              <div class="col m-2">
                <%= link_to "Entreprise, trouvez votre Luli", lulis_path, class:"btn btn-block btn-lg btn-info", id: "entreprise_home_top"%>
              </div>

            </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Presentation paragraph -->
  <section class="call-to-action presentation text-secondary text-center pb-5">
    <div class="container">
      <div class="row">
        <div class="col-xl-10 mx-auto">
          <h2 class="mb-5"> Lucky Link fait le lien entre les acteurs de la santé </h2>
            <p>Chez Lucky Link, on croit en la force des partenariats. Source d'innovation, les partenariats entre différents acteurs sont la clé pour des projets à fort impact.
            </p>
            <p>L'écosystème de la santé est composé de nombreux acteurs : praticiens, institutions publiques, associations de patients et entreprises privées. Aujourd'hui encore, alors que les partenariats sont courants dans les autres secteurs, ces acteurs peinent à collaborer. Chaque année, des campagnes de sensibilisation et de prévention sont réalisées en silo, parfois en doublon et bien trop souvent avec peu d'impact pour la santé des patients.
            </p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container-fluid px-5">
      <div class="row no-gutters text-center justify-content-center">
        <div class="card col-xs-12 col-sm-12 col-md-5 my-auto showcase-text border border-warning text-secondary p-5 mr-3">
          <div class="mb-0"><h5>Vous êtes une association santé</h5>
            <hr class="bg-warning">
            <p>Vous connaissez les besoins des patients ou des praticiens. Vous avez des idées de projets plein la tête mais vous ne pouvez pas les développer faute de moyens.</p>
            <p>Lucky Link vous propose de mettre en place un Luli : un partenariat avec une entreprise qui souhaite soutenir votre projet !</p>
            <div>
          <%= link_to "Proposez votre Luli", new_luli_path, class:"btn btn-warning mt-3", id:"association_home_middle"%>
            </div>
        </div>
        </div>
         <div class="card col-xs-12 col-sm-12 col-md-5 my-auto showcase-text border border-info p-5 ml-3">
          <div class="mb-0"><h5>Vous êtes une entreprise en santé</h5>
            <hr class="bg-info">
            <p>Chaque année, vous utilisez d’importantes ressources humaines et financières pour des projets qui rencontrent un succès limité auprès des patients ou praticiens.</p>
            <p>Lucky Link vous propose de trouver un Luli : un partenariat avec une association qui a des projets à développer avec vous !</p>
          <%= link_to "Trouvez votre Luli", lulis_path, class:"btn btn-info mt-3", id:"entreprise_home_middle"%>
        </div>
        </div>
      </div>
      </div>
      </section>

      <section class="call-to-action presentation text-secondary text-center pt-5">
        <div class="container">
          <div class="row">
            <div class="col-xl-10 mx-auto">
                <p>Via sa plateforme, Lucky Link propose donc de faire le lien entre associations et entreprises du monde de la santé afin de potentialiser l'impact de leurs actions. Association, entreprise, venez proposer ou trouver votre Luli : un partenariat gagnant-gagnant dont les patients seront les premiers bénéficiaires.
                </p>
                <%= link_to "Qu'est-ce qu'un Luli ?", presentation_path, class:"btn btn-outline-secondary mt-3", id:"what_is_home_middle"%>
            </div>
          </div>
        </div>
      </section>

  <!-- Our approach -->
  <section class="call-to-action approach text-center text-white bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-xl-10 mx-auto">
          <h2>NOTRE APPROCHE</h2>
        </div>
      </div>
    </div>
  </section>


  <!-- Image Showcases -->
  <section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters text-secondary bg-light">
        <div class="col-lg-6 order-lg-2 showcase-img" style="background-image: url(<%= asset_path('action-plan-brainstorming.jpg') %>);"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2 class="pb-5">Lucky Link fait le lien</h2>
          <p>Lucky Link est une plateforme de mise en relation entre entreprises et associations.</p>
          <p>Lucky Link fait le lien entre ces différents acteurs à travers des Lulis : des projets de partenariat gagnant-gagnant entre entreprises et associations santé.</p>
        </div>
      </div>
      <div class="row no-gutters bg-light text-secondary">
        <div class="col-lg-6 showcase-img" style="background-image: url(<%= asset_path('communication.jpg') %>);"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2 class="pb-5">Accompagnement sur mesure</h2>
          <p>Vous avez une idée de projet de partenariat que vous souhaiteriez mettre en place mais ne savez pas par où commencer pour concrétiser ce Luli ?</p>
          <p>Lucky Link peut vous aider à faire vos premiers pas ou bien vous accompagner tout au long du chemin : <br>
            <ul>
              <li>Mise en relation simple entre les différents acteurs du partenariat</li>
              <li>Coordination opérationnelle du projet</li>
              <li>Accompagnement personnalisé à définir ensemble en fonction de vos besoins</li>
            </ul>
          </p>
          <p> Pour notre équipe d'experts, aucun défi n'est insurmontable. Nous sommes motivés, dévoués, et nous travaillerons sans relâche pour rendre possible votre Luli !</p>
        </div>
      </div>
      </div>
  </section>

 <div class="container ">
  <div class="row justify-content-center no-gutters ">
  <div class="card border border-primary m-5 p-5 col-lg-12 bg-light">
    <h2 class="mb-4 text-center">Contactez-nous</h2>
    <%= form_tag contacts_path, method: :post do %>
    <div class="row no-gutters justify-content-between">
      <% if current_user %>
        <div class="col-xs-12 col-sm-12 col-md-5">
          <input name="user_id" type="hidden" value="<%= current_user.id%>">
          <div class="form-group">
            <label for="first_name">Votre nom</label>
            <input type="text" class="form-control" name="name"
              value="<%= current_user.first_name%> <%= current_user.last_name%>" readonly/>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-5">
          <div class="form-group">
            <label for="email">Votre email</label>
            <input type="text" class="form-control"  name="email"
              value="<%= current_user.email%>" readonly/>
          </div>
        </div>
      <% else %>
      <div class="col-xs-12 col-sm-12 col-md-5">
        <div class="form-group">
          <label for="first_name">Votre nom*</label>
          <input type="text" class="form-control" name="name" id="home_tourist_name"/>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-5">
        <div class="form-group">
          <label for="email">Votre email*</label>
          <input type="text" class="form-control"  name="email" id="home_tourist_email"/>
        </div>
      </div>
      <% end%>
    </div>

      <div class="form-group">
        <label for="subject">Objet*</label>
        <input type="text" class="form-control" name="subject" id="home_subject"/>
      </div>

      <div class="form-group">
        <label for="message">Votre message*</label>
        <textarea class="form-control" rows="3" name="message" id="home_message"></textarea>
      </div>
    <p class="font-italic mt-5 ml-3">(*)Champs obligatoires.</p>
      <div class="form-group text-center">
        <button type="submit" class="btn btn-primary mt-3" id="home_contact">Envoyer</button>
      </div>
    <% end %>
  </div>
  </div>
</div>
