  <div class="call-to-action presentation text-secondary pb-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="pres-txt col-xl-10 mx-auto">
          <h1 class="mb-5 text-primary font-bold text-center ">QU'EST CE QU'UN LULI ?</h1>
          <h4 class="mb-5 font-italic text-center ">“Il n'est pas d'entreprise qui gagne dans un monde qui perd” (Patrick d’Humières)</h4>
            <p class="text-center ">L'entreprise ou l'association ne saurait répondre seule aux grands défis de la santé. Face à ces nouveaux enjeux, le Luli s'impose !
            </p>

            <h5 class="mb-5 mt-5"><u>QU'EST CE QU'UN LULI ?</u></h5>
            <p>
              Un Luli est un partenariat gagnant-gagnant entre une association et une entreprise du monde de la santé dont les patients en seront les premiers bénéficiaires. Sur la plateforme Lucky Link, venez proposer ou trouver votre Luli !
            </p>
            <h5 class="mb-5 mt-5"><u>QU’EST CE QU’UN PARTENARIAT ?</u></h5>
            <p>
              Les partenariats entre entreprises et structures à visée sociale peuvent prendre différentes formes. Les experts<sup>[1]</sup> en distinguent quatre types:
            </p>
            <p class="what-is-luli">
              <ul>
              <li><u>Le mécénat</u> : En tant que mécène, l'entreprise, aide un projet d’intérêt général via des moyens financiers, logistiques, ou en termes de compétences humaines. Le mécénat est généralement assimilé à un don sans contrepartie.</li>

              <li><u>Les pratiques responsables</u> : Ici, c’est l’association qui aide l’entreprise dans sa transformation sociétale selon son expertise comme l’écologie ou le handicap.</li>

              <li><u>La coopération économique</u> : L’entreprise et l’association s’associent pour répondre à un besoin d’un territoire ou d’une population cible.</li>

              <li><u>L'innovation sociétale</u> : Entreprise et association vont co-construire une solution répondant à un besoin sociétal non satisfait à ce jour.</li>
            </ul>
            </p>
            <h5 class="mb-5 mt-5">POURQUOI SE LANCER DANS UN LULI ?</h5>
            <p>Il y a une vingtaine d'années<sup>[1]</sup>, il y avait deux mondes séparés avec des frontières relativement imperméables :</p>
            <p>Les entreprises à but lucratif d'un côté, et le champs de l'économie sociale et solidaire à but non lucratif de l'autre. Le peu d'interface entre ces deux mondes engendrait une méconnaissance, et une perception mutuelle souvent négative.</p>
            <p class="my-5">D'abord dans une logique caritative, le mécenat d'entreprise est le premier mouvement qui a permis un rapprochement, une meilleure connaissance et une prise de conscience : Les uns et les autres ont beaucoup de choses à s'apprendre. Leurs expertises extrêmement complémentaires peuvent générer des effets très positifs sur la société.</p>
            <p>Face à l'ampleur des enjeux économiques, sociaux, et environnementaux, des acteurs ne peuvent répondre seuls à ces problématiques : le pouvoir public, les entreprises et les associations doivent allier leur force pour relever ensemble ces grands défis du 21e siècle. La dynamique de co-construction naît, non plus seulement dans une logique de solidarité mais beaucoup plus en profondeur : Comment inventer ensemble des solutions, à grande échelle?
            </p>
            <h5 class="mb-5 mt-5">L’ENTREPRISE ET LES PARTENARIATS<sup>[2]</sup></h5>
            <p>La Responsabilité Sociétale des Entreprises est une dimension qui est en train de devenir essentielle pour les entreprises. Les entreprises ne peuvent plus être, ne peuvent plus survivre comme de simples acteurs économiques. Ce sont des acteurs qui ont un rôle économique, en participant à la croissance et à la création de richesse, mais qui ont aussi un rôle social, notamment avec leurs employés, et un rôle sociétal, vis-à-vis de leur monde, vis-à-vis de l'ensemble de la planète, ou des territoires.</p>
            <p class="my-5">Pendant longtemps, la RSE était une activité considérée comme un centre de coût marginal, ou annexe dans la gestion des entreprises.<br>
            Aujourd'hui, les entreprises prennent progressivement conscience, qu'elles existent par leurs actionnaires mais également par leurs clients, par leurs salariés, et par les territoires sur lesquels elles vivent. C'est dans la prise en considération de l'ensemble de ces parties prenantes que doivent perdurer les entreprises efficientes de demain.
            </p>
            <p class="mt-5"><sup>[1]</sup>Selon Charles-Benoît Heidsieck (Président fondateur du RAMEAU), propos recueillis pour le MOOC de l'ESSEC "Les partenariats qui changent le monde".<br>
            <sup>[2]</sup>Selon Anne-Claire Pache (Professeur ESSEC, Titulaire de la Chaire Philanthropie) propos recueillis pour le MOOC de l'ESSEC "Les partenariats qui changent le monde".
          </p>
        </div>

      </div>
      <div class="row mt-5 mb-5 mx-5">
      <div class="col-md-5 mr-5 ml-5">
                <%= link_to "Entreprise, trouvez votre Luli", lulis_path, class:"btn btn-block btn-lg btn-info text-black", id:"entreprise_what_is"%>
              </div>
              <div class="col-md-5">
                <%= link_to "Association, proposez votre Luli", new_luli_path, class:"btn btn-block btn-lg btn-warning", id:"association_what_is"%>
              </div>
            </div>
    </div>
  </div>
