<div class="container-fluid bg-light py-5" id="profile_box">
  <div class="row justify-content-center no-gutters">
    <div class="card border border-primary m-5 p-5 col-lg-4">

      <h2 class="mb-4 text-center">Connexion</h2>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <div class="form-group mb-4">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control bg-light' %>
          </div>

          <div class="form-group mb-4">
            <%= f.label :"Mot de passe" %><br />
            <%= f.password_field :password, autocomplete: "current-password", class: 'form-control bg-light' %>
          </div>

          <div class="actions text-center">

            <% if devise_mapping.rememberable? %>
              <div class="form-group mb-4">
                <%= f.check_box :remember_me %>
                <%= f.label "Se souvenir de moi" %>
              </div>
            <% end %>

            <%= f.submit "Je me connecte", class: "btn btn-primary mb-2", id: "connection_button" %> <br>
            <small><%= render "devise/shared/links" %></small>

          </div>

        <% end %>

    </div>
  </div>
</div>
