/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*= require landing-page.min
*= require bootstrap_custom
*/


@import url("landing-page.min.css");
@import url("bootstrap_custom");

html {
	height: 100vh;
}

body {
	height: 100vh;
}

* {
 font-family: 'Quicksand', sans-serif;
 line-height: 200%;
}
@font-face
{
	font-family: 'ADAM.CG-PRO';
	src: url('ADAM.CG-PRO.otf');
}
a:hover {
    text-decoration: none;
}

p {
  font-size: 1rem;
}

.style-image {
  object-fit: cover;
  height: auto;
  width: 100%;
  display: block;
}

.container-fluid {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
	margin-left: auto;
}

.btn-success {
  background-color: #54c961;
}

  .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

.first-row
{
	display: flex;
	flex-direction: row;
	font-family: 'Quicksand', sans-serif;
}

.second-row
{
	display: flex;
	flex-direction: row-reverse;
}

.approach
{
	text-align: center;
	padding-top: 5rem;
	padding-bottom: 5rem;
	background-color: #EBEBEB;
}

.presentation
{
  /* position: relative;
	padding: 7rem;
	text-align: center; */
	background-color: #FFFFFF;
  font-size: 1rem;


}
.footer
{
	font-family: 'Quicksand', sans-serif;
	color: #FFFFFF;
}

.very-first
{
	display: flex;
	justify-content: row;
	margin-top: 25px;
	margin-bottom: 25px;

}

.first-text
{
	padding-top: 15px;
	margin-right: 0px;
	padding-left: 150px;
	padding-right: 150px;
	text-align: center;
	font-size: 25px;
}

.icons
{
	display: flex;
	flex-direction: row;
	width: 100%;
	font-family: 'Quicksand', sans-serif;
	font-size: 23px;
	margin-top: 50px;
	margin-bottom: 50px;
	justify-content: center;
	padding-left: 75px;
	padding-right: 185px;
}

.bulb {
	margin-top: 60px;
	margin-left: 120px;
	margin-right: 20px;
	margin-bottom: 25px;
	padding-left: 5px;
}

.graphic {
	margin-top: 60px;
	margin-left: 30px;
	margin-right: 50px;
	margin-bottom: 25px;
}

.sketch {
	margin-top: 60px;
	margin-left: 50px;
	margin-right: 20px;
	margin-bottom: 25px;
}

.eval
{
	text-align: left;
	margin-left: -50px;
	padding-right: 10px;

}

.design
{
	text-align: center;
}

.need
{
	margin-left: 5px;
	text-align: left;
	margin-right: 25px;
	font-weight: bold;
}

.marketing
{
}

.first-div
{
	color: #217872;
	/* padding-left: 200px;
	padding-right: 200px; */
	font-size: 1.1rem;
  position: relative;
  text-align: center;
  padding: 6rem;
}

.showcase-img {
  background-image: cover;
}

.text-block
{
  /* position: relative;
	text-align: center; */
}

.text-p {
  margin: 0;
position: absolute;
top: 50%;
left: 50%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}

.second-first-div
{
	/* width: 60%;
	padding-bottom: 0px;
	padding-left: 200px;
	padding-right: 200px;
  margin-bottom: 9px; */
	font-size: 18px;
	background-color: #217872;
  color: #FFFFFF;
}

.second-second-div
{

	margin-left: 0px;

}

.third-row
{
	display: flex;
	flex-direction: row;
}

.third-first-div
{
	color: #217872;
	/* padding-left: 200px;
	padding-right: 200px; */
	font-size: 18px;
 }

 .third-second-div
 {
 	/* margin-top: -9px;
 	margin-bottom: -9px; */
 }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
}
 .field
 {
 	margin-top: 15px;
 	width: 100%;
 }
 .actions
 {
 	margin-top: 10px;
 	color: #18BC9C;
 }
 .form-container
 {
 	margin-left: 300px;
 	margin-right: 300px;
 	font-family: 'Quicksand', sans-serif;
 	color: #2C3E50;

 }
 .luli-title
 {
 	color: #2C3E50;
 	text-align: center;
 }
 .luli-create
 {
 	margin-left: 500px;
 	margin-right: 300px;
 	margin-top: 25px;
 	margin-bottom: 25px;
 }
 .profile-title
 {
	color:#00B19C;
	text-align: left;


 }

 .profile-container
 {
 	display: flex;
 	flex-direction: row;
 }
 .album
 {
 	margin-right: 25px;
 	margin-top: 25px;
 }
 .second-title
 {
 	text-align: center;
 	color: #2C3E50;
	font-size: 50px;
	margin-top: 20px;
	margin-bottom: 50px;
 }
 .page-footer
 {
 	background-color: #00B19C;

 }
 .your-info
 {
 	color: #2C3E50;
 	text-align: right;


 }
 .luli-row
 {
 	margin-left: 250px;
 	margin-right: -150px;
 }
 .your-lulis
 {
 	margin-bottom: 50px;
 }
 .jumbotron
 {
 	background-color: #F3F9F9;
 	color: #2C3E50;
 }
 .container1
 {
 	margin-top: 25px;
 }
 .card
 {

 	border-style: none;
 }
 .nav-nav
 {
 	color: #00aa9f;
 	background-color: #FFFFFF;
 	width: 100%;
  font-size: 0.8em;
 }
 .navlink
 {
  color: #00aa9f;
  font-size: 0.9em;
 }
 .world
 {
 	color: #FFFFFF
 }

 .user-show-buttons:hover
 {
 	background-color: rgb(255,191,0);
 }

.form-container
{
	display: flex;
	flex-direction: column;
	margin-left: 100px;
}
.first-contact
{
	margin-right: 250px;
}
.fields-contact
{
	margin-right: 250px;
}

.luli-btn
{
	margin-left: 150px;
	margin-top: 50px;
	margin-bottom: 50px;
	width: 150%;
}


.grey-block {
	background-color: #e3e3e3;
}

.btn-company {
	color: #FFF;
  border-color: #FFF;
}

.btn-company:hover {
	background-color: #FFF;
  border-color: #FFF;
}

.btn- {
	color: #F0FF2D;
  border-color: #F0FF2D;
}

.luli-show-buttons
{
	margin-top: 50px;
	margin-left: 45px;
}

.index-luli-title
{
	text-align: center;
	margin-bottom: 35px;
	margin-top: 35px;
}
.index-luli
{
	color: #2C3E50;
}
.logo
{
	margin-left: 25px;
	margin-top: 25px;
	margin-bottom: 25px;
}
.pic
{
	margin-top: 30px;
}
.bid-show
{
	margin-top: 50px;
	font-size: 17px;
}
.bid-return-button
{
	margin-bottom: 50px;
}
.luli-form
{
	font-size: 17px

}


.edit-form-user
{
	text-align: center;
}
.logo-nav
{
	display: flex;
	flex-direction: row;
}
.fields
{
	background-color: #F0F5F8;
	width: 55%;
	line-height: 30px;
}
.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.status
{
	font-style: bold;
	font-size: 14px;

}
.luli-sentence
{
	font-size: 20px;
}

.btn-luli-show
{
	margin-bottom: 15px;
}
.resizing-title
{
 white-space: nowrap;
  width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px hidden #000000;
}
.img
{
	float: right;
}
.lulishow p
{
	text-align: justify;
	line-height: 200%;
	margin-top: 5%;
	margin-bottom: 5%;
}
.lulishow h6, h5, h4
{
	line-height: 200%;
}

.what-is-luli
{
	text-align: justify;
}


.js-animation
{
	font-weight: 200;
	margin: 0.4em 0;
	font-size: 3.5em;
}

.pres-txt
{
	text-align: justify;
}

.sliding_lulis_cover
{
  width: 100%;
  height: 30em;
  object-fit: cover;
  object-position: top;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right:auto;
}

.carousel-caption
{
  background-color:  rgba(255, 255, 255, 0.8);
  color: black;
  padding-left: 5%;
	border-radius: 5px;
}


#profile_box {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
