<p>Bienvenue <%= @email %>!</p>

<p>Vous pouvez confirmer la création de votre compte en cliquant sur le lien suivant</p>

<p><%= link_to 'Confirmer mon compte', confirmation_url(@resource, confirmation_token: @token) %></p>
