<p>Bonjour <%= @resource.email %>!</p>

<p>Quelqu'un a fait une requête pour changer votre mot de passe. Voici le lien ci-dessous:</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'êtes pas à l'origine de cette requête, veuillez ignorer cet email.</p>
<p>Votre mot de passe ne changera pas tant que vous ne cliquez pas sur le lien ci-dessus et n'en créez pas un nouveau.</p>
