<p>Bonjour <%= @resource.email %>!</p>

<p>Votre compte a été bloqué dû à un nombre d'essai infructueux trop important.</p>

<p>Cliquez sur le lien suivant pour débloquer votre compte:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
