<%= form_tag url_for(action: action), method: method, multipart: true, class:"form-container" do %>
    <div class="row no-gutters mt-5">
      <div class="first-luli form-col">

        <div>
          <h2 class="text-link ml-3">Pour commencer: </h2>

          <div class="my-4 mx-3">
            <div class="form-group col-md ml-3">
              <%= label_tag 'name', 'Nom de votre projet*'%>
              <%= text_field_tag 'name', @luli.name, disabled: @is_admin, class: "form-control", placeholder: 'Entre 5 et 5000 carctères' %>
            </div>

            <div class="form-group row no-gutters d-flex justify-content-around mt-5">
              <div class="form-group col-md-5 ">
                <%= label_tag 'pathology', 'Votre projet vise quelle pathologie ?'%><br>
                <%= select_tag 'pathology', options_for_select(@pathologies, @luli.pathology), disabled: @is_admin, class: "my-3 p-1 ml-0 form-control"%>
              </div>

              <div class="form-group col-md-5">
                <%= label_tag 'partnership', 'Quel partenariat recherchez-vous ?'%>
                <br>
                <%= select_tag 'partnership', options_for_select(@partnerships, @luli.partnership), disabled: @is_admin, class: "my-3 p-1 form-control"%>
              </div>
            </div>
          </div>
        </div>


        <div>
          <h2 class="text-link ml-3">Parlons-en un peu plus: </h2>
           <p class="ml-3"><small class="font-italic">(Ces champs pourront être modifiés par l'administrateur du site)</small></p>
          <div class="form-group col-md my-5 ml-3">

            <div class="luli-fields form-group col-md">
              <%= label_tag 'description', "Parlez-nous de votre association.*"%>

              <%= text_area_tag 'association_description', @luli.association_description,class: "form-control", placeholder: 'Entre 5 et 5000 caractères' %>
            </div>
             <div class=" luli-fields form-group col-md-12">
              <%= label_tag 'association_description', "Parlez-nous de votre projet de partenariat.*"%><br>
              <%= text_area_tag 'description', @luli.description, class: "form-control overflow-auto", placeholder: 'Entre 5 et 5000 caractères' %>
            </div>
            <div class="luli-fields form-group col-md-12">
              <%= label_tag 'request', "Parlez-nous de votre besoin.*"%><br>
              <%= text_area_tag 'request', @luli.request, class: "form-control", placeholder: 'Entre 5 et 5000 caractères' %>
            </div>

            <div class="luli-fields form-group col-md-12">
              <%= label_tag 'comment', "Avez vous d'autres précisions à apporter ?"%><br>
              <%= text_area_tag 'comment', @luli.comment, disabled: @is_admin, class: "form-control", placeholder: 'Entre 1 et 5000 caractères'%>
            </div>
            </div>
        </div>

        <% if !@is_admin %>
        <div>
          <h2 class="text-link ml-3">Fichiers à télécharger: </h2>
          <p class="ml-3">Veuillez télécharger une photo <strong>(obligatoire)</strong> et une pièce jointe (facultatif)</p><br>
          <div class="col d-flex justify-content-between ml-3">

          <div class="luli-fields form-group col-md">
            <%= label_tag 'cover_photo', "Photo"%><br>
            <%= file_field_tag 'cover_photo'%>
          </div>

          <div class="luli-fields form-group col-md mb-5">
            <%= label_tag 'attachment', "Pièce jointe"%><br>
            <%= file_field_tag 'attachment'%>
          </div>
        </div>
        <% end %>

        <div>
            <h2 class="text-link ml-3">Personne à contacter : </h2>
            <div class="container ml-3 mt-4">

              <div class="row">
                  <%= label_tag 'org_name', 'Nom de votre association'%>
                  <%= text_field_tag 'org_name', @luli.broker&.org_name, class: "form-control",readonly:true %>
              </div>

              <div class="row">
                <div class="form-group col-md-6 mt-4 mr-5">
                    <%= label_tag 'contact_name', 'Personne à contacter*'%>
                    <%= text_field_tag 'contact_name', @luli.contact_name, disabled: @is_admin, class: "form-control", placeholder: 'Entre 1 et 100 caractères' %>
                </div>
                <div class="form-group col-md-6 mt-4">
                    <%= label_tag 'contact_number', 'Uniquement les chiffres sans indicadif ni séparateur. Ex: 0607070750'%>
                    <%= text_field_tag 'contact_number', @luli.contact_number, disabled: @is_admin, class: "form-control", placeholder: '10 chiffres' %>
                </div>
              </div>
              <div class="row">
                  <%= label_tag 'contact_email', 'Email*'%>
                  <%= text_field_tag 'contact_email', @luli.contact_email, disabled: @is_admin, class: "form-control", placeholder: 'exemple@email.com' %>
              </div>

            </div>
            <p class="font-italic mt-5 ml-3">(*)Champs obligatoires.</p>
        </div>

        <div>
          <% if @is_admin %>
            <%= check_box_tag :admin_validate, true, false%>
            Cochez pour valider ce luli<br>
          <% end %>
        </div>
      </div>

    </div>


    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <div class="luli-btn">
      <% submit_text = @is_admin ? "Modifier / Valider ce Luli" : "Proposer mon luli"%>
      <%= button_to submit_text, lulis_path(@luli.id), method: method, class: "btn btn-primary" %>
    </div>

<% end %>
