<div class="container"></div>
<div class="container-fluid mb-0 mt-5">
  <div class="px-5 bg-primary text-white">
    <div class="p-5">
      <h1 class="text-center text-white">Association, proposez un Luli</h1>
      <div class="text-center px-5 pt-5">
        <p class="text-justify px-5">
        Vous avez une idée de projet à développer et vous recherchez une entreprise partenaire ? Proposez ici votre Luli.
        En remplissant le formulaire ci-dessous, votre proposition de Luli nous sera envoyé. Nous vous contacterons ensuite pour vous aider à définir les contours de ce projet de partenariat.
        Une fois le Luli validé ensemble, il sera visible sur notre plateforme. Les entreprises pourront alors le consulter et vous proposer d'en être les partenaires industriels.
        A tout moment, Lucky link fera le lien.
        Selon vos besoins, nous pourrons répondre à un besoin d'accompagnement ponctuel ou à longue durée afin de faire de ce projet un partenariat gagnant-gagnant.
        </p>
        <br>
      </div>
    </div>
  </div>
</div>
