
<div class="container mt-5 ">
<% luli_list.each do |luli| %>
  <div class=" row mb-2 no-gutters">
    <div class="col-md-12">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-white">
        <div class="col p-4 d-flex flex-column position-static border-right border-light ml-3">
          <p>
            <% if !luli.admin_validate %>
              <span class="btn-info p-1 btn-sm text-white">En attente</span>
            <% elsif luli.active%>
                <span class="btn-success btn-sm p-1 text-white">En recherche</span>
            <% else %>
                <span class="btn-warning btn-sm p-1 text-white ">Partenariat trouve</span>
            <% end %>
          </p>
          <h3 class="mb-0 resizing-title"><%=luli.name%></h3><br>
          <div class="mb-1 text-muted">
            <p>Proposé par <strong><%= luli.broker.org_name%></strong></p>
            <p>Publié le: <%= luli.created_at.to_date%></p>
            <p><span class="badge badge-info"><%= luli.pathology %></span>
              <span class="badge badge-warning"><%= luli.partnership %></span></p>
          </div>
          <%= button_to "Voir le luli", luli_path(luli.id), method: :get, class:"btn btn-outline-primary mr-2 w-25 see_luli"%>
        </div>
        <div class="col-md-6 d-none d-lg-block">
            <% if luli.cover_photo.attached?%> <%= image_tag luli.cover_photo, style:'object-fit: cover; height: 310px; width: 100%; display: block;' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>
