<body class="bg-light">
  <% if current_user && current_user.admin %>
    <div class="container text-secondary mt-5">
      <h3>Cher administrateur, ces nouveaux Luli attendent la validation:</h3><br>
    </div>
    <%= render "list", :luli_list => @unvalidate_lulis %>
  <% end %>

  <div class="container text-center text-secondary mt-5">
    <h3>Les projets des associations en recherche d'un partenaire industriel</h3><br>
    <p>Bien trop souvent, des entreprises élaborent des projets complexes et coûteux sans consulter les praticiens, patients ou autre public auquel elles s'adressent. Pourtant les associations ont la connaissance des réalités et besoins du terrain.<br>
    Sur notre plateforme, les associations proposent aux entreprises des Luli : des projets  à co-créer en partenariat.<br>
    Nous sommes fiers de tous ces projets et espérons que vous y trouverez votre Luli.</p>
  </div>
  <%= render "list", :luli_list => @active_lulis %>

  <% if @archived_lulis.length >=3 %>
  <div class="bg-primary p-3 text-center mt-5">
    <h3 class="text-white mt-5 mb-5">Ces Lulis ont trouvé leur entreprise partenaire grâce à Lucky Link</h3></p>
  </div>

  <div class="bd-example bg-light p-5 container mt-5">
    <div id="carouselExampleCaptions" class="row carousel slide mx-5 px-5" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner">
        <div class="carousel-item active">
        <%= image_tag @cover_luli.cover_photo, class:"sliding_lulis_cover"%>
          <div class="carousel-caption  justity-content-center">
            <h5><%= link_to @cover_luli.name, luli_path(@cover_luli), class:"text-dark"%></h5>
            <p><%= @cover_luli.broker.org_name%></p>
          </div>
        </div>
        <% @sliding_lulis.each do |s| %>
        <div class="carousel-item">
        <%= image_tag s.cover_photo, class:"sliding_lulis_cover"%>
          <div class="carousel-caption  justity-content-center">
            <h5><%=link_to s.name, luli_path(s), class:"text-dark"%></h5>
            <p><%= s.broker.org_name%></p>
          </div>
        </div>
        <% end %>
      </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  <% end %>
  <div class="p-5">
  </div>
</body>
