	<div>
		<%= render "intro"%>

		<div class="mx-5">
			<div class="mx-5">

				<h1 class="text-center text-primary mt-5 pt-5">Proposez ici votre Luli</h1>
				<%= render "form", :method => "POST", :action => "create"%>
			</div>
		</div>
	</div>
