<div class="row no-gutters my-5 px-5 text-center">
  <div class="lulishow col px-5">
    <p>
      <% if !@luli.admin_validate %>
        <span class="btn-info p-2 text-white">En attente</span>
      <% elsif @luli.active%>
          <span class="btn-success p-2 text-white">En recherche</span>
      <% else %>
          <span class="btn-warning p-2 text-white ">Partenariat trouve</span>
      <% end %>
      <% if @user == @luli.broker %>
        <span class="font-italic ml-3">Ceci est votre luli </span>
      <% elsif (@user.bids_offered.map{|b| b.luli}.include?(@luli))  %>
        <span class="font-italic ml-3">Vous avez une demande en cours </span>
      <% end %>
    </p>
    <h3 class="card-title text-primary text-center"><%= @luli.name %></h3>
    <h6>Crée par <strong><%= @luli.broker.org_name%></strong></h6>
    <p class="card-text text-center"><strong>Date de création:</strong> <%= @luli.created_at.to_date %></p>
    <p class="card-text text-center"><strong>Pathologie concernée:</strong><br> <%= @luli.pathology %></p>
    <p class="card-text text-center"><strong>Partenariat recherché:</strong><br> <%= @luli.partnership %></p>
    <% if @luli.attachment.attached?%>
      <%= link_to 'Télécharger la pièce jointe', @luli.attachment, target: :blank%>
    <% else %><br>
      <h6>Il n'y a pas de pièce jointe au luli.</h6>
    <% end %>
  </div>
  <div class="col-md-6 d-none d-lg-block mt-4">
    <% if @luli.cover_photo.attached?%>
      <%= image_tag @luli.cover_photo, style:'object-fit: cover; max-height: 520px; width: 100%; display: block;' %>
    <% end %>
  </div>
</div>

<div class="row no-gutters bg-light px-5 pb-3">
  <div class="lulishow col mb-3 px-5">
    <p class="card-text mt-4"><strong>Description:</strong><br> <%= @luli.description %></p>
  </div>
</div><br>
<div class="row no-gutters bg-light px-5 pb-3">
  <div class="lulishow col mb-3 px-5">
    <p class="card-text mt-4"><strong>Ce dont nous avons besoin:</strong><br> <%= @luli.request %></p>
  </div>
</div><br>
<div class="row no-gutters bg-light px-5 pb-3">
  <div class="lulishow col mb-3 px-5">
    <p class="card-text mt-4 mb-2"><strong>Un mot sur l'association:</strong><br> <%= @luli.association_description %></p>
    <b>
  </div>
</div>

<div class="row no-gutters px-5">
  <% unless @user.org_type =="entreprise" %>
    <div class="my-5 px-5">
      <h4>Informations de contact:</h4>
      <h6>Nom: <%= @luli.contact_name %></h6>
      <h6>Numéro de téléphone: <%= @luli.contact_number %></h6>
      <h6>Email: <%= @luli.contact_email %></h6>
    </div>
  <% end %>
</div>

<div class="row no-gutters px-5 pb-5">
  <div class="px-5">
    <% unless @luli.bids.length == 0%>
      <% if @user.is_entreprise%>
        <h5 class="mt-4"><%= @luli.bids.length%> entreprise ont demandé une mise en relation.</h5>
      <% else %>
        <h5 class="mt-4">Ces entreprises ont demandé une mise en relation:</h5>
        <% @luli.bids.each do |bid| %>
          <% if @user == @luli.broker %>
            <%= link_to bid.bidder.org_name, luli_bid_path(bid.luli.id, bid.id) %>
            <br>
          <%else%>
            <%= bid.bidder.org_name %><br>
          <% end %>
        <% end %>
      <% end %>


    <% end %>
  </div>
</div>

<div class="row no-gutters px-5 pb-5">
  <div class="mt-5 px-5">
    <% if @user.admin && (!@luli.admin_validate)%>
      <%= link_to 'Modifier ou valider ce luli', edit_luli_path(@luli), class: "btn btn-primary"%>
    <% elsif @user == @luli.broker %>
      <div class="d-flex flex-direction-row flex-wrap">
        <%= link_to 'Modifier le luli', edit_luli_path(@luli), method: :get, class: "btn-luli-show btn btn-primary mr-5"%>
        <%= link_to "Supprimer le luli", luli_path(@luli), method: :delete, class: "btn-luli-show btn btn-outline-danger" %>
      </div>
    <% elsif @user.org_type == "entreprise" && (!@user.bids_offered.map{|b| b.luli}.include?(@luli))%>
      <%= link_to "Ce luli m'interesse", new_luli_bid_path(@luli), method: :get, class: "btn-lg btn-primary ml-5 my-5" %>
      <% end %>
  </div>
</div>
</div>
</div>
</div>
