
<h1 class="luli-title">Créer mon Luli</h1>

<%= form_tag url_for(action: 'create'), method: 'POST', class:"form-container" do %>
    
    <div class="form-row">

      <div class="form-group col-md-4">
        <%= label_tag 'contact_name', 'Contact name:'%>
        <%= text_field_tag 'contact_name', @luli.contact_name, class: "form-control" %>
      </div>

      <div class="form-group col-md-4">
        <%= label_tag 'contact_number', 'Contact number:'%>
        <%= text_field_tag 'contact_number', @luli.contact_number, class: "form-control" %>
      </div>

      <div class="form-group col-md-4">
        <%= label_tag 'contact_email', 'Contact email:'%>
        <%= text_field_tag 'contact_email', @luli.contact_email, class: "form-control" %>
      </div>

    </div>

    <div class="form-row">

      <div class="form-group col-md-4">
        <%= label_tag 'name', 'Name:'%>
        <%= text_field_tag 'name', @luli.name, class: "form-control" %>
      </div>

      <div class="form-group col-md-4">
        <%= label_tag 'description', 'Description:'%>
        <%= text_field_tag 'description', @luli.description, class: "form-control" %>
      </div>

      <div class="form-group col-md-4">
        <%= label_tag 'request', 'Request:'%>
        <%= text_field_tag 'request', @luli.request, class: "form-control" %>
      </div>

    </div>

      <%= button_to "Modifer mon luli", lulis_path(@luli.id), method: :put, class: "btn btn-success" %>

  <% end %>
