  <div class="page-footer sticky-bottom container-fluid text-secondary py-3 " style="background-color:#ebebeb; font-size:0.9em;">
    <div class="row no-gutters">

      <div class="col text-center">
        <%= link_to "| Lucky Link", root_path, class:"navlink", id: "home_footer"%>
      </div>

      <div class="col text-center">
        <%= link_to "| Qu'est-ce qu'un Luli ?", presentation_path, class:"navlink", id:"what_is_footer"%>
      </div>

      <div class="col text-center">
        <%= link_to "| Contactez-nous", new_contact_path, class:"navlink", id: "contact_footer"%>
      </div>

    </div>
  </div>

  <div class="bg-secondary text-white">
    <div class="container">

        <div class="footer-copyright text-center py-1"><small>© 2019 Copyright: Lucky Link</small>
        </div>

    </div>
  </div>
