<header>
  <nav class="navbar navbar-expand-xl navbar-dark bg-white text-primary p-0">
    <div class="logo ml-5">
      <%= link_to image_tag("logo-print-hd-transparent.png", :alt => "Lucky Link logo"), root_path, id:"logo_nav" %>
    </div>
    <button id="the_toggler" class="navbar-toggler bg-primary p-2" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarsExample05">

      <div class="nav-nav container d-flex flex-direction-row justify-content-around p-0 ml-5">
        <div>
          <%= link_to "| Qu'est-ce qu'un Luli?", '/presentation', class:"mr-5", id:"what_is_nav"%>
          <%= link_to "| Entreprise, trouvez votre Luli", lulis_path, class:"mr-5", id:"lulis_nav"%>
          <% if !current_user %>
            <%= link_to "| Association, proposez votre Luli", "/proposez_votre_luli", class:"mr-5" , id:"new_luli_nav_tourist"%>
          <% elsif current_user && current_user.is_association%>
            <%= link_to "| Association, proposez un Luli", new_luli_path, class:"mr-5", id:"new_luli_nav_association"%>
          <% end %>
          <%= link_to "| Contactez-nous", new_contact_path, class:"mr-5", id:"contact_nav"%>
        </div>
        <div>
          <% if current_user %>
            <% if current_user.admin %>
            <%= link_to "| Entrée admin", rails_admin_path, class:"ml-3 font-weight-bold", id:"admin_nav"%>
            <% end %>
            <%= link_to "| Mon Profil", user_path(current_user), class:"ml-3", id:"profile_nav"%>
            <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class:"ml-3 btn btn-outline-primary btn-sm", id:"signout_nav" %>
          <% else %>
            <%= link_to "Inscription", new_user_registration_path, class:"ml-5 mr- btn btn-primary btn-sm", id: "inscription_nav" %>
            <%= link_to "Connexion", new_user_session_path, class:"ml-3 mr-5 btn btn-outline-primary btn-sm", id: "connexion_nav"%>
          <% end %>
        </div>
      </div>
    </div>
  </nav>
</header>
